svg{
  margin-left: 50px;
}

.container{
    width: 100%;
}
.container-fluid{
    width: 100%;
}

.intro-header{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

#view-all{
  background-color: #e74c3c;
  border-color: #e74c3c;
  font-size: 10px;
  padding: 5px;
  position: relative; 
  top: -5px;
  margin-left: 15px;
}

#movie_name{
  width: 600px;
}

#search{
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: white;
  font-size: 12px;
  padding: 10px;
  height: 34px;
  margin-left: 15px;
}

#search-form-elements{
  margin: 0 auto;
}

.letter{
  display: block;
  height: 28px;
  padding: 10px;
  padding-bottom: 18px;
  font-size: 8px;
}

.search-form{
  display: inline-block;
}

.letter:hover{
  background-color: #e74c3c;
  border-color: #e74c3c;
}

#ratings-heading{
  text-align: center;
}

#chart-row{
  margin: 0 auto;
}

#movie-title{
  margin-top: 75px;
  text-align: center;
}

#view-all{
  height: 40px;
  width: 80px;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

#word-cloud{
  width: 700px;
  height: 700px;
  margin: 0 auto;
}


#rating-count-chart{
  width: 300px;
  height: 300px;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

@media only screen and (min-width: 768px) {
  .page-navbar {
    background: #404040;
    border-bottom: 1px solid transparent;
    z-index: 1;
    height: 20px;
    margin-bottom: 50px;
  }
  .page-navbar .navbar-brand {
    color: white;
    padding: 10px;
  }
  .page-navbar .navbar-brand:hover,
  .page-navbar.navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .page-navbar .nav li a {
    color: white;
    padding: 10px;
  }
  .page-navbar .nav li a:hover,
  .page-navbar .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .template-container{
    margin-top: 50px;
  }
}