svg{
  margin-left: 50px;
}

.container{
    width: 100%;
}
.container-fluid{
    width: 100%;
}

.intro-header{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}


#word-cloud{
  width: 500px;
  height: 500px;
}

{
  width: 10px;
  height: 10px;
}

#rating-count-chart{
  width: 300px;
  height: 300px;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

@media only screen and (min-width: 768px) {
  .page-navbar {
    background: #404040;
    border-bottom: 1px solid transparent;
    z-index: 1;
    height: 20px;
    margin-bottom: 50px;
  }
  .page-navbar .navbar-brand {
    color: white;
    padding: 10px;
  }
  .page-navbar .navbar-brand:hover,
  .page-navbar.navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .page-navbar .nav li a {
    color: white;
    padding: 10px;
  }
  .page-navbar .nav li a:hover,
  .page-navbar .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .template-container{
    margin-top: 50px;
  }
}