{% extends 'base.html' %}
{% block content %}

<h1>MOVIES</h1>
<h2>By Title</h2>

    <div class="container">
  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
      <a href="/movies"><button class="btn btn-default" id="#">#</button></a>
      <a href="/movies/A"><button class="btn btn-default" id="A">A</button></a>
      <a href="/movies/B"><button class="btn btn-default" id="B">B</button></a>
      <a href="/movies/C"><button class="btn btn-default" id="C">C</button></a>
      <a href="/movies/D"><button class="btn btn-default" id="D">D</button></a>
      <a href="/movies/E"><button class="btn btn-default" id="E">E</button></a>
      <a href="/movies/F"><button class="btn btn-default" id="F">F</button></a>
      <a href="/movies/G"><button class="btn btn-default" id="G">G</button></a>
      <a href="/movies/H"><button class="btn btn-default" id="H">H</button></a>
      <a href="/movies/I"><button class="btn btn-default" id="I">I</button></a>
      <a href="/movies/J"><button class="btn btn-default" id="J">J</button></a>
      <a href="/movies/K"><button class="btn btn-default" id="K">K</button></a>
      <a href="/movies/L"><button class="btn btn-default" id="L">L</button></a>
      <a href="/movies/M"><button class="btn btn-default" id="M">M</button></a>
      <a href="/movies/N"><button class="btn btn-default" id="N">N</button></a>
      <a href="/movies/O"><button class="btn btn-default" id="O">O</button></a>
      <a href="/movies/P"><button class="btn btn-default" id="P">P</button></a>
      <a href="/movies/Q"><button class="btn btn-default" id="Q">Q</button></a>
      <a href="/movies/R"><button class="btn btn-default" id="R">R</button></a>
      <a href="/movies/S"><button class="btn btn-default" id="S">S</button></a>
      <a href="/movies/T"><button class="btn btn-default" id="T">T</button></a>
      <a href="/movies/U"><button class="btn btn-default" id="U">U</button></a>
      <a href="/movies/v"><button class="btn btn-default" id="V">V</button></a>
      <a href="/movies/W"><button class="btn btn-default" id="W">W</button></a>
      <a href="/movies/X"><button class="btn btn-default" id="X">X</button></a>
      <a href="/movies/Y"><button class="btn btn-default" id="Y">Y</button></a>
      <a href="/movies/Z"><button class="btn btn-default" id="Z">Z</button></a>
      <a href="/movies/view-all"><button class="btn btn-default" id="view-all">View All</button></a>
    </div>
  </div>
</div>
<ul>
  {% for movie in movie_list %}
   <li><a href="/movie_detail/{{movie[0]}}">{{movie[1]}}</a></li>
  {% endfor %}
</table>

<script>

// $('.btn').on('click', renderMovieList);

// function renderMovieList(evt){
//     var listFirstLetter = evt.currentTarget.id;

//     $.get("/movies/"+listFirstLetter, function(x){console.log(x);});

// }
// </script>

{% endblock %}